/*CSS Style Sheet*/

/* ------------------------------------------------------------------- Body -*/

body {
    background-image: url('../images/bg1.jpg');
    background-repeat: repeat;
}

main {
    background-color: rgba(255, 255, 255, 0.5);
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0 30px;
    min-height: calc(100vh - 64px - 85px);
}


/* ---------------------------------------------------------------- Nav Bar -*/

nav .brand-logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
}

nav .brand-logo:hover {
    text-shadow: 0 0 5px #ff2281,
    0 0 10px #ff2281,
    0 0 20px #ff2281,
    0 0 40px #ff2281,
    0 0 80px #ff2281,
    0 0 90px #ff2281,
    0 0 100px #ff2281,
    0 0 150px #ff2281;
}


@media screen and (min-width: 993px) {
    nav .brand-logo {
        margin-left: 2rem;
    }
}

#nav-mobile {
    margin-right: 1.4rem;
}

nav ul a {
    font-family: 'Pacifico', cursive;
    font-size: 1.4rem;
}

nav ul a:hover {
    text-shadow: 0 0 5px #ff2281,
    0 0 10px #ff2281,
    0 0 20px #ff2281,
    0 0 40px #ff2281,
    0 0 80px #ff2281,
    0 0 90px #ff2281,
    0 0 100px #ff2281,
    0 0 150px #ff2281;
}


/* -------------------------------------------------------------- Jumbotron -*/

.jumbotron {
    min-height: 10vh;
    padding: 30px 30px 30px 50px;
    color: white;
    border-radius: 5px;
    background: url('../images/brick_blk0.jpg');
    background-size: cover;
}

.jumbo-quote-text {
    font-size: 2rem;
}

.jumbo-cite-text {
    font-size: 1rem;
}

/* Fix for Materialize valign-wrapper not working properly */

/* with grid - issue #3361 */

@media (max-width: 991px) {
    .valign-wrapper {
        display: inherit;
    }
}


/* ------------------------------------------------------------- Pagination -*/

.history-back {
    /*NOT CURRENTLY IN USE - JS ONLY*/
}

/* --------------------------------------------------------- Footer Styling -*/

footer .row {
    margin-bottom: 0;
}

.social-icon-footer {
    margin: 10px;
    font-size: 1.6rem;
    color: white;
}

.cocktail-icon-footer {
    font-size: 2.4rem;
    color: white;
}

.footer {
    min-height: 50px;
    background-color: black;
    color: white;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.footer-logo {
    height: 56px;
    margin: 4px 10px;
}


/* ------------------------------------------------------------- Drink Form -*/

.info-btn-size {
    font-size: 15px;
}

/* ---------------------------------------------------- Testing / Temporary -*/

.yellow-outline {
    border: 1px solid yellow;
    /*height: 60px;*/
}

.green-outline {
    border: 1px solid green;
    /*height: 60px;*/
}

.red-outline {
    border: 1px solid red;
    /*height: 60px;*/
}

.border-outline {
    border: 1px solid yellow;
    /*height: 60px;*/
}

hr {
    margin: 40px 0;
}

/* ------------------------------------------------------------ Neon -*/

.neon {
    /*font-family: 'Londrina Outline', cursive;*/
    /*text-align: left;*/
    /*text-transform: uppercase;*/
    /*font-size: 3rem;*/
    color: #fff;
    letter-spacing: 0.15em;
}

.neon-yellow {
    text-shadow: 0 0 5px #fdf501,
    0 0 10px #fdf501,
    0 0 20px #fdf501,
    0 0 40px #fdf501,
    0 0 80px #fdf501,
    0 0 90px #fdf501,
    0 0 100px #fdf501,
    0 0 150px #fdf501;
}

.neon-pink {
    text-shadow: 0 0 5px #ff2281,
    0 0 10px #ff2281,
    0 0 20px #ff2281,
    0 0 40px #ff2281,
    0 0 80px #ff2281,
    0 0 90px #ff2281,
    0 0 100px #ff2281,
    0 0 150px #ff2281;
}

.neon-blue {
    text-shadow: 0 0 5px #011ffd,
    0 0 10px #011ffd,
    0 0 20px #011ffd,
    0 0 40px #011ffd,
    0 0 80px #011ffd,
    0 0 90px #011ffd,
    0 0 100px #011ffd,
    0 0 150px #011ffd;
}
