/*CSS Style Sheet*/

/* ---------------------------------------------------------- Set Variables -*/

:root {
    /* Set neon color */
    --neon-blue: #011ffd;
    --neon-pink: #ff2281;
    --neon-yellow: #fdf501;
}


/* ------------------------------------------------------------------- Body -*/

body {
    background-image: url('../images/bg1.jpg');
    background-repeat: repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 auto;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    /*padding: 10px 0 30px;*/
    padding-bottom: 30px;

}



/* ---------------------------------------------------------------- Nav Bar -*/

nav {
    border-bottom: 1px solid black;
}

nav .brand-logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
}

nav .brand-logo {
    transition: 0.2s;
}


nav .brand-logo:hover {
    text-shadow: 0 0 5px var(--neon-pink),
    0 0 10px var(--neon-pink),
    0 0 20px var(--neon-pink),
    0 0 40px var(--neon-pink);
}

@media screen and (min-width: 993px) {
    nav .brand-logo {
        margin-left: 2rem;
    }
}

#nav-mobile {
    margin-right: 1.4rem;
}

nav ul a {
    font-family: 'Pacifico', cursive;
    font-size: 1.4rem;
}

nav ul a {
    transition: 0.2s;
}

nav ul a:hover {
    text-shadow: 0 0 5px var(--neon-pink),
    0 0 10px var(--neon-pink),
    0 0 20px var(--neon-pink),
    0 0 40px var(--neon-pink);
}

nav ul .active {
    text-shadow: 0 0 5px var(--neon-pink),
    0 0 10px var(--neon-pink),
    0 0 20px var(--neon-pink),
    0 0 40px var(--neon-pink);
}


/* -------------------------------------------------------------- Jumbotron -*/

.jumbotron {
    min-height: 10vh;
    margin: 20px 0;
    padding: 30px 30px 30px 50px;
    color: white;
    /*border: 5px solid #444;*/
    /*border-radius: 10px;*/
    background: url('../images/1.jpg');
    background-size: cover;
}

.jumbo-quote-text {
    font-size: 2rem;
}

.jumbo-cite-text {
    font-size: 1rem;
}

/* Fix for Materialize valign-wrapper not working properly */

/* with grid - issue #3361 */

@media (max-width: 991px) {
    .valign-wrapper {
        display: inherit;
    }
}


/* ------------------------------------------------------------- Pagination -*/

.history-back {
    /*NOT CURRENTLY IN USE - JS ONLY*/
}

/* ------------------------------------------------------- Log In & Register-*/

.v-center-wrapper {
    height: calc(100vh - 64px - 85px);

}

.v-center-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80vw;
}

@media screen and (min-width: 992px) {
    .v-center-content {
        width: 50vw;
    }
}

.log_reg_wrapper {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #555;
}

/* --------------------------------------------------------- Footer Styling -*/

footer .row {
    margin-bottom: 0;
}

.social-icon-footer {
    margin: 10px;
    font-size: 1.6rem;
    color: white;
}

.cocktail-icon-footer {
    font-size: 2.4rem;
    color: white;
}

.footer {
    min-height: 50px;
    background-color: black;
    color: white;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.footer-logo {
    height: 56px;
    margin: 4px 10px;
}

footer i {
    transition: 0.2s;
}

footer i:hover {
    text-shadow: 0 0 5px var(--neon-pink),
    0 0 10px var(--neon-pink),
    0 0 20px var(--neon-pink),
    0 0 40px var(--neon-pink);
}


/* ------------------------------------------------------------- Drink Form -*/

.info-btn-size {
    font-size: 15px;
}

/* ---------------------------------------------------- Testing / Temporary -*/

.yellow-outline {
    border: 1px solid yellow;
    /*height: 60px;*/
}

.green-outline {
    border: 1px solid green;
    /*height: 60px;*/
}

.red-outline {
    border: 1px solid red;
    /*height: 60px;*/
}

.border-outline {
    border: 1px solid yellow;
    /*height: 60px;*/
}

hr {
    margin: 40px 0;
}

/* ------------------------------------------------------------ Neon -*/

.neon {
    /*font-family: 'Londrina Outline', cursive;*/
    /*text-align: left;*/
    /*text-transform: uppercase;*/
    /*font-size: 3rem;*/
    color: #fff;
    letter-spacing: 0.15em;
}

.neon-yellow {
    text-shadow: 0 0 5px var(--neon-yellow),
    0 0 10px var(--neon-yellow),
    0 0 20px var(--neon-yellow),
    0 0 40px var(--neon-yellow),
    0 0 80px var(--neon-yellow),
    0 0 90px var(--neon-yellow),
    0 0 100px var(--neon-yellow),
    0 0 150px var(--neon-yellow);
}

.neon-pink {
    text-shadow: 0 0 5px var(--neon-pink),
    0 0 10px var(--neon-pink),
    0 0 20px var(--neon-pink),
    0 0 40px var(--neon-pink),
    0 0 80px var(--neon-pink),
    0 0 90px var(--neon-pink),
    0 0 100px var(--neon-pink),
    0 0 150px var(--neon-pink);
}

.neon-blue {
    text-shadow: 0 0 5px var(--neon-blue),
    0 0 10px var(--neon-blue),
    0 0 20px var(--neon-blue),
    0 0 40px var(--neon-blue),
    0 0 80px var(--neon-blue),
    0 0 90px var(--neon-blue),
    0 0 100px var(--neon-blue),
    0 0 150px var(--neon-blue);
}




.neon-border {
    border: 2px solid #fff;
    border-radius: 10px;

    /*animation: flicker 1.5s infinite alternate;     */
    box-shadow: 0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 1rem var(--neon-blue),
    inset 0 0 0.5rem var(--neon-blue),
    0 0 2rem var(--neon-blue),
    inset 0 0 1rem var(--neon-blue);
}

neon-border:focus {
    outline: none;
}
