<div class="card">
    <div class="card-image">
        <img class="responsive-img" src="{{drink.imageUrl}}">
        <a href="{{ url_for('category', category_name = drink.category) }}" class="card-category">{{drink.category.title()}}</a>
        {% if session['username'] == drink.userName %}
        <a href="{{ url_for('edit_drink', drink_id = drink._id) }}" class="btn-floating halfway-fab waves-effect waves-light red btn-small"><i class="fas fa-pencil-alt"></i></a>
        {% endif %}
    </div>
    <div class="card-action center-align">
        <a href="{{ url_for('drink', drink_id = drink._id) }}">{{drink.name | truncate(18, True, '...', 0)}}</a>
    </div>
</div>
            