<div class="card">
    <div class="card-image">
        <a href="{{ url_for('drink', drink_id = drink._id) }}"><img class="responsive-img" alt="{{drink.name}}" src="{{drink.imageUrl}}"></a>
        <!--Show Info Labels-->
        <a href="{{ url_for('view_only', option = 'category', choice = drink.category) }}" class="card-label card-label--pos-1 green">{{drink.category.title()}}</a>
        <a href="{{ url_for('view_only', option = 'glassType', choice = drink.glassType) }}" class="card-label card-label--pos-2 pink accent-2">{{drink.glassType.title()}} Glass</a>
        <a href="{{ url_for('view_only', option = 'difficulty', choice = drink.difficulty) }}" class="card-label card-label--pos-3 deep-purple accent-2">{{drink.difficulty.title()}}</a>
        <!--Show Search Relevance %-->
        {% if max_weight %}
        <div class="search-relevance">{{((drink.score / max_weight) * 100) | round | int}}%</div>
        {% endif %}
        {% if session['username'] == drink.userName %}
        <a href="{{ url_for('edit_drink', drink_id = drink._id) }}" class="btn-floating halfway-fab waves-effect waves-light green darken-2 btn-small">
            <i class="fas fa-pencil-alt"></i>
        </a>
        {% endif %}
    </div>
    <div class="card-action center-align">
        <a href="{{ url_for('drink', drink_id = drink._id) }}">{{drink.name}}</a>
    </div>
</div>
