<div id="filter-tabs" class="row hidden">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#category-tab">Category</a></li>
            <li class="tab col s3"><a href="#glass-tab">Glass Type</a></li>
            <li class="tab col s3"><a href="#difficulty-tab">Difficulty</a></li>
        </ul>
    </div>
    <div id="category-tab" class="col s12">
        <div class="row qeq-height-columns" qstyle="display: flex; flex-wrap: wrap; align-items: stretch;">
            {% for category in categories %}
            <div class="col s6 m4 l4 xl3 eq-height" style="">
                <div class="card blue-grey darken-1 center" >
                    <div class="card-content white-text">
                        <p>{{category.categoryDescription|truncate(80, true)}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('view_only', option = 'category', choice = category.category) }}">{{category.category.title()}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="glass-tab" class="col s12">
        <div class="row">
            {% for glass in glass_types %}
            <div class="col s6 m4 l3 xl2">
                <div class="card blue-grey darken-1 center">
                    <div class="card-image">
                        <a href="{{ url_for('view_only', option = 'glassType', choice = glass.glassType) }}"><img src="{{ url_for('static', filename='images/glass/g_'+glass.glassType+'.jpg') }}"></a>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('view_only', option = 'glassType', choice = glass.glassType) }}">{{glass.glassType}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="difficulty-tab" class="col s12">
        <div class="row">
            {% for level_of_difficulty in difficulties %}
            <div class="col s12 m4">
                <div class="card">
                   <div class="card-image">
                        <a href="{{ url_for('view_only', option = 'difficulty', choice = level_of_difficulty.difficulty) }}"><img src="{{ url_for('static', filename='images/difficulty/'+level_of_difficulty.difficulty+'.jpg') }}"></a>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('view_only', option = 'difficulty', choice = level_of_difficulty.difficulty) }}">{{level_of_difficulty.difficulty}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
