{% extends 'base.html' %} {% block content %}

<div id="account" class="page-container content-wrapper">

    <div class="row">
        <!--User & Stats-->
        <div class="col s12 xl3">
            <h2>Hi {{user.userName}}</h2>
            <p>Your drinks have had a total of <span class="info-label">{{views}}</span> views</p>
            <p>Drinks submitted by you have been favorited a total of <span class="info-label">{{favorites}}</span> times</p>
            <p>A total of <span class="info-label">{{comments}}</span> comments have been left across all of your drinks</p>

            <p>There are currently <span class="info-label">{{total_drinks}}</span> drinks in the database, spread over a total of <span class="info-label">{{total_categories}}</span> categories, <span class="info-label">{{total_glass_types}}</span> different
                types of drinking glasses, and <span class="info-label">{{total_difficulties}}</span> levels of difficulty.</p>
        </div>
        <!--User Drinks & Stats-->
        <div class="col s12 xl9">
            <div class="row eq-height-columns">
                <!--Most Viewed | Small Screen Only-->
                <div class="col s12 hide-on-med-and-up">
                    <div class="card horizontal">
                        {% if most_viewed %}
                        <div class="card-image">
                            <img class="responsive-img" src="{{most_viewed.imageUrl}}">
                            <a href="{{ url_for('view_only', option = 'category', choice = most_viewed.category) }}" class="card-category">{{most_viewed.category.title()}}</a>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h6>Most Viewed</h6>
                                <hr>
                                <p>YYour drink with the most views is {{most_viewed.name}}. It has been viewed {{most_viewed.views}} times.</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="{{ url_for('drink', drink_id = most_viewed._id) }}">{{most_viewed.name}}</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-image">
                            <img width="375" src="{{ url_for('static', filename='images/no_image.jpg') }}" class="responsive-img">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h6>Most Viewed</h6>
                                <hr>
                                <p>None of your drinks have been viewed yet.</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!--Most Viewed | Medium & Up-->
                <div class="col m4 hide-on-small-only">
                    <div class="card">
                        {% if most_viewed %}
                        <div class="card-image">
                            <img class="responsive-img" src="{{most_viewed.imageUrl}}">
                            <a href="{{ url_for('view_only', option = 'category', choice = most_viewed.category) }}" class="card-category">{{most_viewed.category.title()}}</a>
                        </div>
                        <div class="card-content">
                            <h6>Most Viewed</h6>
                            <hr>
                            <p>Your drink with the most views is {{most_viewed.name}}. It has been viewed {{most_viewed.views}} times.</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('drink', drink_id = most_viewed._id) }}">{{most_viewed.name}}</a>
                        </div>
                        {% else %}
                        <div class="card-image">
                            <img width="375" src="{{ url_for('static', filename='images/no_image.jpg') }}" class="responsive-img">
                        </div>
                        <div class="card-content">
                                <h6>Most Viewed</h6>
                                <hr>
                                <p>None of your drinks have been viewed yet.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!--Most Favorited-->
                <div class="col s6 m4">
                    <div class="card">
                        {% if most_favorited %}
                        <div class="card-image">
                            <img class="responsive-img" src="{{most_favorited.imageUrl}}">
                            <a href="{{ url_for('view_only', option = 'category', choice = most_favorited.category) }}" class="card-category">{{most_favorited.category.title()}}</a>
                        </div>
                        <div class="card-content">
                            <h6>Most Favorited</h6>
                            <hr>
                            <p>Your most favorited drink is {{most_favorited.name}}. It has been favorited by {{most_favorited.views}} users.</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('drink', drink_id = most_favorited._id) }}">{{most_favorited.name}}</a>
                        </div>
                        {% else %}
                        <div class="card-image">
                            <img width="375" src="{{ url_for('static', filename='images/no_image.jpg') }}" class="responsive-img">
                        </div>
                        <div class="card-content">
                                <h6>Most Favorites</h6>
                                <hr>
                                <p>Your drinks have not been added to anyones favorites yet.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!--Most Commented-->
                <div class="col s6 m4">
                    <div class="card">
                        {% if most_commented %}
                        <div class="card-image">
                            <img class="responsive-img" src="{{most_commented.imageUrl}}">
                            <a href="{{ url_for('view_only', option = 'category', choice = most_commented.category) }}" class="card-category">{{most_commented.category.title()}}</a>
                        </div>
                        <div class="card-content">
                            <h6>Most Commented</h6>
                            <hr>
                            <p>Your drink with the most comments is {{most_commented.name}} with {{most_commented.views}} comments.</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('drink', drink_id = most_commented._id) }}">{{most_commented.name}}</a>
                        </div>
                        {% else %}
                        <div class="card-image">
                            <img width="375" src="{{ url_for('static', filename='images/no_image.jpg') }}" class="responsive-img">
                        </div>
                        <div class="card-content">
                                <h6>Most Commented</h6>
                                <hr>
                                <p>No one has left a comment on any of your drinks yet.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--Users Submitted Drinks-->
    <div class="row">
        <h4>Drinks Submitted By You</h4>

        <!--Summary-->
        {% if total_drinks_by_user > 0 %}
        <h6>Showing most recent first</h6>
        <div class="row center wid">
            <h6>Showing {{first_dr_result_num}} - {{last_dr_result_num}} of {{total_drinks_by_user}} results</h6>
        </div>
        {% else %}
        <h6>No Drinks Submitted Yet.</h6>
        <a href="{{ url_for('add_drink') }}" class="btn btn--black">Add One Now</a>
        {% endif %}

        <div class="row">
            {% for drink in users_drinks %}
            <div class="col s6 l4 xl3">
                {% include 'helpers/drink_card.html' %}
            </div>
            {% endfor %}
        </div>
        <!--Pagination-->
        {% if total_drinks_by_user > 4 %}
        <ul class="pagination center">
            <!--Left Arrow-->
            {% if drinks_page | int > 1 %}
            <li class=""><a href="{{ url_for('account',
                    account_name = session.username,
                    drinks_page=drinks_page-1,
                    favorites_page=favorites_page) }}"><i class="fas fa-angle-left"></i></a></li>
            {% else %}
            <li class="disabled"><i class="fas fa-angle-left"></i></li>
            {% endif %}
            <!--Page Numbers-->
            {% for dr_page_number in dr_pages %} {% if dr_page_number == drinks_page %}
            <li class="active"><a>{{ dr_page_number }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('account',
                        account_name = session.username,
                        drinks_page=dr_page_number,
                        favorites_page=favorites_page) }}">{{ dr_page_number }}</a></li>
            {% endif %} {% endfor %}
            <!--Right Arrow-->
            {% if drinks_page | int
            < dr_pages | count | int %} <li class=""><a href="{{ url_for('account',
                    account_name = session.username,
                    drinks_page=drinks_page+1,
                    favorites_page=favorites_page) }}"><i class="fas fa-angle-right"></i></a></li>
                {% else %}
                <li class="disabled"><i class="fas fa-angle-right"></i></li>
                {% endif %}

        </ul>
        {% endif %}
    </div>

    <!--Users Favorite Drinks-->
    <div class="row">
        <h4>Drinks Favorited By You</h4>
        <!--Summary-->
        {% if total_user_fave_drinks > 0 %}
        <div class="row center">
            <h6>Showing {{first_fv_result_num}} - {{last_fv_result_num}} of {{total_user_fave_drinks}} results</h6>
        </div>
        {% else %}
        <h6>No Drinks Favorited Yet</h6>
        {% endif %}
        <div class="row">
            {% for drink in favorited_drinks %}
            <div class="col s6 l4 xl3">
                {% include 'helpers/drink_card.html' %}
            </div>
            {% endfor %}
        </div>
        <!--Pagination-->
        {% if total_user_fave_drinks > 4 %}
        <ul class="pagination center">
            <!--Left Arrow-->
            {% if favorites_page | int > 1 %}
            <li class=""><a href="{{ url_for('account',
                    account_name = session.username,
                    drinks_page=drinks_page,
                    favorites_page=favorites_page-1) }}"><i class="fas fa-angle-left"></i></a></li>
            {% else %}
            <li class="disabled"><i class="fas fa-angle-left"></i></li>
            {% endif %}
            <!--Page Numbers-->
            {% for fv_page_number in fv_pages %} {% if fv_page_number == favorites_page %}
            <li class="active"><a>{{ fv_page_number }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('account',
                account_name = session.username,
                drinks_page=drinks_page,
                favorites_page=fv_page_number) }}">{{ fv_page_number }}</a></li>
            {% endif %} {% endfor %}
            <!--Right Arrow-->
            {% if favorites_page | int
            < fv_pages | count | int %} <li class=""><a href="{{ url_for('account',
                    account_name = session.username,
                    drinks_page=drinks_page,
                    favorites_page=favorites_page+1) }}"><i class="fas fa-angle-right"></i></a></li>
                {% else %}
                <li class="disabled"><i class="fas fa-angle-right"></i></li>
                {% endif %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
