{% extends 'base.html' %} {% block content %}

<div class="container">

    <div class="row">
        <div class="col s12 l6">
            <h4>Hi {{user.userName}}</h4>
            <p>Your drinks have had a total of {{views}} views</p>
            <p>Drinks submitted by you have been favorited a total of {{favorites}} times</p>
        </div>
        <div class="col s12 l6">
            <div class="row">
                <div class="col s6">
                    <p>Your most viewed drink is</p>
                    <p>{{most_viewed.name}}</p>
                    <p>with {{most_viewed.views}} views.</p>
                </div>
                <div class="col s6">
                    <p>pic: {{most_viewed.imageUrl}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>pic: {{most_favorited.imageUrl}}</p>
                </div>
                <div class="col s6">
                    <p>Your most favorited drink is</p>
                    <p>{{most_favorited.name}}</p>
                    <p>with {{most_favorited.views}} users adding it to their favorites.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Users Submitted Drinks-->
    <div class="row">
        <h4>Drinks Submitted By You</h4>
        <h6>** Most recent first **</h6>

        <p>You have submitted {{total_drinks_by_user}} drinks so far.</p>
        <div class="row">
            {% for drink in users_drinks %}
            <div class="col s3 border-outline">
                <p class="center">{{drink.name}}</p>
                <a href="{{ url_for('drink', drink_id = drink._id) }}">Click To View</a>
            </div>
            {% endfor %}
        </div>

        <!--Pagination-->
        {% if total_drinks_by_user > 4 %}
        <ul class="pagination center">
            <li class="disabled"><i class="material-icons">arrow_left</i></li>
            {% for page_number in dr_pages %} 
            {% if page_number == drinks_page %}
            <li class="active"><a>{{ page_number }}</a></li>
            {% else %}
            <!--{{ url_for('account', account_name = session.username) }}-->
            <li class="waves-effect"><a href="{{ url_for('account', account_name = session.username, drinks_page=page_number, favorites_page=favorites_page) }}">{{ page_number }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="disabled"><i class="material-icons">arrow_right</i></li>
        </ul>
        {% endif %}


    </div>

    <!--Users Favorite Drinks-->
    <div class="row">
        <h4>Drinks Favorited By You</h4>
        <p>Your drinks have been favorited by other users a total of {{total_fave_drinks_by_user}} times so far.</p>

        <div class="row">
            {% for drink in favorited_drinks %}
            <div class="col s3 border-outline">
                <p class="center">{{drink.name}}</p>
                <a href="{{ url_for('drink', drink_id = drink._id) }}">Click To View</a>
            </div>
            {% endfor %}
        </div>

        <!--Pagination-->
        {% if total_drinks_by_user > 4 %}
        <ul class="pagination center">
            <li class="disabled"><i class="material-icons">arrow_left</i></li>
            {% for fv_page_number in fv_pages %}
            {% if fv_page_number == favorites_page %}
            <li class="active"><a>{{ fv_page_number }}</a></li>
            {% else %}
            <!--{{ url_for('account', account_name = session.username) }}-->
            <li class="waves-effect"><a href="{{ url_for('account', account_name = session.username, drinks_page=drinks_page, favorites_page=fv_page_number) }}">{{ fv_page_number }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="disabled"><i class="material-icons">arrow_right</i></li>
        </ul>
        {% endif %}

    </div>


</div>

{% endblock %}
