{% extends 'base.html' %} {% block content %}

<div class="container">

    <!--Flashed Messages-->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p>FLASHED MESSAGE (needs formatting) - {{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}

    <div class="row center">
        <h4>ADD DRINK</h4>
        <h5>Will be added by user: {{user}}</h5>
    </div>

    <div class="row">
        <form method="POST" action="{{ url_for('add_drink') }}" class="col s12">
            <div class="center">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Submit Drink</button>
            </div>
            <hr>
            <div class="row">
                <div class="center">
                    <h5>Details</h5>
                </div>

                <!--Name & Category-->
                <div class="col s12 center">
                    <!--Drink Name | name="name"-->
                    <div class="col s12 l6">
                        <div class="input-field">
                            <input id="name" name="name" type="text" class="validate">
                            <label for="name">Drink Name</label>
                        </div>
                    </div>
                    <!--Category | name="category"-->
                    <div class="col s12 l6">
                        <div class="input-field">
                            <select id="category" name="category">
                        <option value="" disabled selected>Choose A Category</option>
                        {% for item in all_categories %} {% if item == all_categories %}
                        <option value="{{ item.category }}" selected>{{ item.category.title() }}</option>
                        {% else %}
                        <option value="{{ item.category }}">{{ item.category.title() }}</option>
                        {% endif %} {% endfor %}
                        </select>
                        </div>
                    </div>
                </div>
                
                <!--Image & Glass Type-->
                <div class="col s12 center">
                    <!--Drink Image | name="imageUrl"-->
                    <div class="col s12 l6">
                        <div class="input-field">
                            <input id="imageUrl" name="imageUrl" type="text" class="validate">
                            <label for="imageUrl">Drink Image</label>
                        </div>
                    </div>
                    <!--Glass Type | name="glassType"-->
                    <div class="col s12 l6">
                        <div class="input-field">
                            <select id="glassType" name="glassType">
                        <option value="" disabled selected>Choose A Glass Type</option>
                        {% for item in all_glass_types %} {% if item == all_categories %}
                        <option value="{{ item.glassType }}" selected>{{ item.glassType.title() }}</option>
                        {% else %}
                        <option value="{{ item.glassType }}">{{ item.glassType.title() }}</option>
                        {% endif %} {% endfor %}
                        </select>
                        </div>
                    </div>
                </div>
                
                <!--Instructions & Difficulty-->
                <div class="col s12 center">
                    <!--Instructions | name="instructions"-->
                    <div class="col s12 l6">
                        <div class="input-field">
                            <textarea id="instructions" name="instructions" class="materialize-textarea"></textarea>
                            <label for="instructions">Instructions</label>
                        </div>
                    </div>
                    <!--Difficulty | name="difficulty"-->
                    <div class="col s12 l6">
                        <div class="input-field">
                            <select id="difficulty" name="difficulty">
                        <option value="" disabled selected>Choose A Difficulty</option>
                        {% for item in all_difficulties %} {% if item == all_categories %}
                        <option value="{{ item.difficulty }}" selected>{{ item.difficulty.title() }}</option>
                        {% else %}
                        <option value="{{ item.difficulty }}">{{ item.difficulty.title() }}</option>
                        {% endif %} {% endfor %}
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--Ingredients-->
            <div class="row">
                <div class="center">
                    <h5>Ingredients</h5>
                </div>
                
                <div class="col s12 center" id="ingredients-container">
                    <!--Ingredient / Measure One | name="ingredient_1" | name="measure_1"-->
                    <div class="col s4 ingredient_field">
                        <div class="input-field">
                            <input id="ingredient_1" name="ingredient_1" type="text" class="validate">
                            <label for="ingredient_1">Ingredient One</label>
                        </div>
                    </div>
                    <div class="col s2 measure_field">
                        <div class="input-field">
                            <input id="measure_1" name="measure_1" type="text" class="validate">
                            <label for="measure_1">Measure One</label>
                        </div>
                    </div>
                    <!--Ingredient / Measure Two | name="ingredient_2" | name="measure_2"-->
                    <div class="col s4 ingredient_field">
                        <div class="input-field">
                            <input id="ingredient_2" name="ingredient_2" type="text" class="validate">
                            <label for="ingredient_2">Ingredient Two</label>
                        </div>
                    </div>
                    <div class="col s2 measure_field">
                        <div class="input-field">
                            <input id="measure_2" name="measure_2" type="text" class="validate">
                            <label for="measure_2">Measure Two</label>
                        </div>
                    </div>
                    <!--Ingredient / Measure Three | name="ingredient_3" | name="measure_3"-->
                    <div class="col s4 ingredient_field">
                        <div class="input-field">
                            <input id="ingredient_3" name="ingredient_3" type="text" class="validate">
                            <label for="ingredient_3">Ingredient Three</label>
                        </div>
                    </div>
                    <div class="col s2 measure_field">
                        <div class="input-field">
                            <input id="measure_3" name="measure_3" type="text" class="validate">
                            <label for="measure_3">Measure Three</label>
                        </div>
                    </div>
                    <!--Ingredient / Measure Four | name="ingredient_4" | name="measure_4"-->
                    <div class="col s4 ingredient_field">
                        <div class="input-field">
                            <input id="ingredient_4" name="ingredient_4" type="text" class="validate">
                            <label for="ingredient_4">Ingredient Four</label>
                        </div>
                    </div>
                    <div class="col s2 measure_field">
                        <div class="input-field">
                            <input id="measure_4" name="measure_4" type="text" class="validate">
                            <label for="measure_4">Measure Four</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a id="add_ingredient" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Add An Ingredient</a>
                        <a id="remove_ingredient" class="waves-effect waves-light btn"><i class="material-icons right">remove_circle_outline</i>Remove Ingredient</a>
                    </div>
                </div>
            </div>

            <hr>
            <div class="center">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Submit Drink</button>
                <a class="waves-effect waves-light btn history-back"><i class="material-icons right">cancel</i>Cancel</a>

            </div>
        </form>
    </div>





</div>

{% endblock %}
