{% extends 'base.html' %} {% block content %}

<div class="page-container content-wrapper">
    <div class="row center">
        <h2>Add Drink</h2>
    </div>

    <div class="row">
        <form method="POST" action="{{ url_for('add_drink') }}" class="col s12">
            <div class="center">
                <button class="btn btn--black" type="submit">Submit Drink</button>
            </div>
            
            {% include 'helpers/drink_form.html' %}
            
            <!--Submit & Cancel Buttons-->
            <div class="center">
                <button class="btn btn--black" type="submit">Submit Drink</button>
                <a class="btn btn--black history-back">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
