{% extends 'base.html' %} {% block content %}

<div class="drink-container content-wrapper">
    <!--Drink Name-->
    <div class="row center">
        <div class="drink-name">
            <h2>{{drink.name}}</h2>
            <h6>Drink submitted by {{drink.userName}} on {{date}}</h6>
            <br> {% if (session['username'] == drink.userName) or (session['username'] == "Admin") %}
            <a class="waves-effect waves-light btn-small" href="{{ url_for('edit_drink', drink_id = drink._id) }}">
            <i class="material-icons right">edit</i>Edit Drink
        </a> {% else %}
            <a class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="You can only edit your own drinks">
            <i class="material-icons right">edit</i>Edit Drink
        </a> {% endif %}
        </div>
    </div>

    <!--Picture | Ingredients-->
    <div class="row eq-height-columns">
        <div class="col s12 l4 sq-pic">
            <img width="375" src="{{drink.imageUrl}}" class="responsive-img materialboxed" data-caption="{{drink.name}} in category {{drink.category}}">
        </div>
        <div class="col s12 l8 ingredients">
            <h4>Ingredients</h4>
            <ul>
                <table>
                    <thead>
                        <tr>
                            <th>Measure</th>
                            <th>Ingredient</th>
                        </tr>
                    </thead>
                    {% for i in range(0, drink.ingredients | length, 2) %}
                    <tbody>
                        <tr>
                            <td class="measure-width">{{drink.ingredients[i]}}</td>
                            <td>{{drink.ingredients[i+1]}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </ul>
        </div>
    </div>

    <!--Instructions | Category | Difficultly | Glass-->

    <div class="row eq-height-columns">
        <!--Category & Difficulty - Medium Only-->
        <div class="col s12 show-on-medium-and-down hide-on-large-only">
            <h6>Serve in a {{drink.glassType|title()}} glass.</h6>
            <h6>Difficulty: {{drink.difficulty}}</h6>
        </div>
        <!--Instructions-->
        <div class="col s12 m8 l6 xl5 instructions yellow-outline">
            <h4>Instructions</h4>
            <ul>
                {% for i in instructions %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>

        </div>
        <!--Category & Difficulty-->
        <div class="col hide-on-med-and-down l4 xl4">
            <div class="row">
                <div class="col s12 yellow-outline">
                    <h6>Category: {{drink.category}}</h6>
                </div>
                <div class="col s12 yellow-outline">
                    <h6>Difficulty: {{drink.difficulty}}</h6>
                    <img src="{{ url_for('static', filename='images/difficulty/'+drink.difficulty+'.png') }}">
                </div>
            </div>
        </div>
        <!--Glass Image-->
        <div class="col s12 m4 l2 xl3 sq-pic center yellow-outline">
            <img width="375" src="{{ url_for('static', filename='images/glass/g_'+drink.glassType+'.jpg') }}" class="responsive-img materialboxed" data-caption="Glass Name">
            <h5 class="hide-on-med-and-down">Serve in a {{drink.glassType|title()}} glass.</h5>
        </div>
    </div>

    <!--Favorites | Views | Quote-->
    <div class="row eq-height-columns" id="qfv">
        <!--Faves & Views-->
        <div class="col s12 l6 yellow-outline">
            <i class="far fa-eye"></i> {% if views == 1 %}
            <p>Viewed {{views}} time.</p>
            {% else %}
            <p>Viewed {{views}} times.</p>
            {% endif %}

            <p>Favorites: {{drink.favorites}}</p>
            <!--Add as favorite-->
            {% if not session %}
            <h5>You must be logged in to add as a favorite</h5>
            {% elif session['username'] == drink.userName %}
            <h5>You cannot add your own drinks to your favorites</h5>
            {% else %}
            <h5>Can add as fave!</h5>

            {% if is_favorite %}
            <a href="{{ url_for('toggle_favorite', drink_id = drink._id, is_favorite=is_favorite) }}">Remove Favorite</a>
            <i class="fas fa-heart"></i> {% else %}
            <i class="far fa-heart"></i>
            <a href="{{ url_for('toggle_favorite', drink_id = drink._id, is_favorite=is_favorite) }}">Add Favorite</a> {% endif %} {% endif %}

            <!--Displays num favorites-->
            {% if drink.favorites
            < 1 %} <p>Not yet favorited by any users</p>

                {% else %}

                <p>Favorited By These Users</p>

                {% for x in drink.favoritesTxt %}

                <p>{{x}}</p>

                {% endfor %} {% endif %}
        </div>
        <!--Quote-->
        <div class="col s12 l6 quote-box center yellow-outline">
            <img src="{{ url_for('static', filename='images/quotes/quote_swirl.png') }}" class="swirl-top">
            <div class="quote-text-wrapper">
                <p>{{quote_text}}</p>
                <p>{{quote_name}}</p>
            </div>
            <img src="{{ url_for('static', filename='images/quotes/quote_swirl.png') }}" class="swirl-bottom">
        </div>
    </div>


    <!--Comments-->
    <div class="col s12">
        <h4>Comments</h4>
        <p>Tell us what you think!</p>

        <div class="comments-box">
            {% if comment_user | length > 0 %} {% for x in range(0, comment_user | length) %}

            <p class="comment-user">{{comment_user[x]}}</p>
            <p class="comment-text">{{comment_text[x]}}</p>

            {% endfor %} {% else %}

            <h6>There are no comments for this drink yet.</h6>
            <h6>Why don't you be the first?</h6>

            {% endif %}
        </div>

        <h5>Leave a comment</h5>
        <div class="row">
            <form action="{{ url_for('drink', drink_id = drink._id) }}" method="POST" class="col s12">
                {% if session %}
                </span><input placeholder="Type your comment here" id="comment" name="comment" type="text">
                <button class="waves-effect waves-light btn right comment-send-btn" type="submit">Send</button> {% else %}
                </span><input disabled placeholder="You must be logged in to leave a comment" id="comment" name="comment" type="text">
                <button disabled class="waves-effect waves-light btn right comment-send-btn" type="submit">Send</button> {% endif %}
            </form>
        </div>
    </div>
</div>

<!--Delete Drink-->
{% if (session['username'] == drink.userName) or (session['username'] == "Admin") %}
<div class="row">
    <div class="col s12 center">
        <h5>Delete drink?</h5>
        {% include 'helpers/delete_modal.html' %}

    </div>
</div>
{% endif %}
<br>



<!-- Modal Structure -->



<div class="row center">
    <a class="waves-effect waves-light btn-small history-back">back</a>
</div>
</div>

{% endblock %}
