{% extends 'base.html' %} {% block content %}

<div class="container">

    <!--Drink Name-->
    <div class="row center">
        <h2>{{drink.name}}</h2>
        <h6>Drink submitted by {{drink.userName}} on {{date}}</h6>
        <br> {% if (session['username'] == drink.userName) or (session['username'] == "Admin") %}
        <a class="waves-effect waves-light btn-small" href="{{ url_for('edit_drink', drink_id = drink._id) }}">
            <i class="material-icons right">edit</i>Edit Drink
        </a> {% else %}
        <a class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="You can only edit your own drinks">
            <i class="material-icons right">edit</i>Edit Drink
        </a> {% endif %}
    </div>

    <!--Picture & Ingredients-->
    <div class="row">
        <div class="col s12 l6">
            PICTURE {{drink.imageUrl}}
        </div>
        <div class="col s12 l6">
            <ul>
                {% for i in range(0, drink.ingredients | length) %}
                <div class="col s6">
                    {{drink.ingredients[i]}}<br>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--Instructions & Category Image-->
    <div class="row">
        <div class="col s12 l6">
            <h5>INSTRUCTIONS</h5><br> {% for i, j in enumerate(instructions) %} {{i+1}} {{j}}
            <br> {% endfor %}
            <h6>Serve in a {{drink.glassType}} glass.</h6>

        </div>
        <div class="col s12 l6">
            CATEGORY IMAGE
        </div>
    </div>

    <!--Favorites, Views & Comments-->
    <div class="row" id="fv">
        <div class="col sm12 l4">
            <h5>FAVES & VIEWS</h5>

            <p>Favorites: {{drink.favorites | count}}</p>
            <p>Views: {{drink.views}}</p>

            <!--Add as favorite-->
            {% if not session %}
            <h5>You must be logged in to add as a favorite</h5>
            {% elif session['username'] == drink.userName %}
            <h5>You cannot add your own drinks to your favorites</h5>
            {% else %}
            <h5>Can add as fave!</h5>

            {% if is_favorite %}
            <a href="{{ url_for('toggle_favorite', drink_id = drink._id, is_favorite=is_favorite) }}">Remove Favorite</a>
            <i class="fas fa-heart"></i> {% else %}
            <i class="far fa-heart"></i>
            <a href="{{ url_for('toggle_favorite', drink_id = drink._id, is_favorite=is_favorite) }}">Add Favorite</a> {% endif %} {% endif %}


            <!--Displays num favorites-->
            {% if drink.favorites | count
            < 1 %} <p>Not yet favorited by any users</p>

                {% else %}

                <p>Favorited By These Users</p>

                {% for x in drink.favorites %}

                <p>{{x}}</p>

                {% endfor %} {% endif %}


        </div>
        <!--Comments-->
        <div class="col sm12 l8">
            COMMENTS<br> {% if comment_user | length > 0 %} {% for x in range(0, comment_user | length) %}

            <p>{{comment_user[x]}}</p>
            <p>{{comment_text[x]}}</p>

            {% endfor %} {% else %}

            <h6>There are no comments for this drink yet.</h6>

            {% endif %}

            <h5>Leave a comment</h5>
            {% if session %}

            <div class="row">
                <form action="{{ url_for('drink', drink_id = drink._id) }}" method="POST" class="col s12">
                    </i>
                    </span><input placeholder="Type your comment here" id="comment" name="comment" type="text">
                    <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Send</button>
                </form>
            </div>

            {% else %}
            <div class="row">
                <form action="{{ url_for('drink', drink_id = drink._id) }}" method="POST" class="col s12">
                    </i>
                    </span><input disabled placeholder="You must be logged in to leave a comment" id="comment" name="comment" type="text">
                    <button disabled class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Send</button>
                </form>
            </div>



            {% endif %}

        </div>
    </div>

    <!--Delete Drink-->
    {% if (session['username'] == drink.userName) or (session['username'] == "Admin") %}
    <div class="row">
        <div class="col s12 center">
            <h5>Delete drink?</h5>
    {% include 'helpers/delete_modal.html' %}
            
        </div>
    </div>
    {% endif %}
    <br>



    <!-- Modal Structure -->



    <div class="row center">
        <a class="waves-effect waves-light btn-small history-back">back</a>
    </div>

</div>

{% endblock %}
