{% extends 'base.html' %} {% block content %}
<section class="page-container drink-wrapper">
        <!--Drink Title & Info-->
        <div class="row center section-padding">
            <h1>{{drink.name}}</h1>

            {% if session['username'] == drink.userName %}
            <div>
                <a href="{{ url_for('edit_drink', drink_id = drink._id) }}" class="btn btn--black">EDIT DRINK</a> {% include 'helpers/delete_modal.html' %}
            </div>
            {% endif %}

            <div class="drink-author">
                <h6>Drink submitted by {{drink.userName}} on {{date}}</h6>
            </div>
        </div>
</section>
    
<section class="page-container drink-wrapper grey lighten-4">
    <!--Picture | Ingredients-->
    <div class="row section-padding">
        <section id="drink-img" class="col s12 l4">
            <img width="375" height="375" src="{{drink.imageUrl}}" alt="{{drink.name}}" class="responsive-img materialboxed"
                data-caption="{{drink.name}} in category {{drink.category|title()}}">
        </section>

        <section id="ingredients-box" class="col s12 l8">
            <h4>Ingredients</h4>
            <table>
                <thead>
                    <tr>
                        <th>Measure</th>
                        <th>Ingredient</th>
                    </tr>
                </thead>
                {% for i in range(0, drink.ingredients | length, 2) %}
                    <tbody>
                        <tr>
                            <td class="measure-width">{{drink.ingredients[i]}}</td>
                            <td>{{drink.ingredients[i+1]}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </section>
    </div>
</section>

<section class="page-container drink-wrapper">
    <!--Instructions | Category | Difficultly | Glass-->
    <div class="row eq-height-columns section-padding">
        <!--Info & Stats - Medium Only-->
        <section class="col s12 hide-on-large-only mid-section-padding info-label-spacing">
            <div class="row center">
                <div class="col s12">
                    <h6>Category <span class="info-label white">{{drink.category|upper()}}</span></h6>
                </div>
                <div class="col s12">
                    {% if views == 1 %}
                    <h6>Viewed <span class="info-label white">{{views}}</span> time.</h6>
                    {% else %}
                    <h6>Viewed <span class="info-label white">{{views}}</span> times.</h6>
                    {% endif %}
                </div>
                <div class="col s12">
                    <h6>Favorite Lists <span class="info-label white">{{drink.favorites}}</span></h6>
                </div>
                <div class="col s12">
                    <h6>Comments <span class="info-label white">{{comment_user|count()}}</span></h6>
                </div>
                <div class="col s12">
                    <h6>Difficulty <span class="info-label white">{{drink.difficulty|upper()}}</span></h6>
                </div>
            </div>
        </section>

        <!--Instructions-->
        <section id="instructions-box" class="col s12 m6 l4">
            <h4>Instructions</h4>
            <table>
                <tbody>
                    {% for i in instructions %}
                        <tr>
                            <td>{{i}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!--Glass Image-->
        <section id="glass-img" class="col s12 m6 l5 center">
            <img width="375" src="{{ url_for('static', filename='images/glass/g_'+drink.glassType+'.jpg') }}" alt="{{drink.glassType|title()}} glass"
                class="responsive-img materialboxed" data-caption="{{drink.glassType|title()}} glass">
            <h5>Serve in a {{drink.glassType|title()}} glass</h5>
        </section>

        <!--Info Box - Category | Views | Difficulty-->
        <section id="info-box" class="col hide-on-med-and-down l3 info-label-spacing">
            <h4>Extra Info</h4>
            <div class="row">
                <div class="col s12">
                    {% if views == 1 %}
                    <h6>Viewed <span class="info-label white">{{views}}</span> time.</h6>
                    {% else %}
                    <h6>Viewed <span class="info-label white">{{views}}</span> times.</h6>
                    {% endif %}
                </div>
                <div class="col s12">
                    <h6>Category <span class="info-label white">{{drink.category|upper()}}</span></h6>
                </div>
                <div class="col s12">
                    <h6>Comments <span class="info-label white">{{comment_user|count()}}</span></h6>
                </div>
                <div class="col s12">
                    <h6>Difficulty: <span class="info-label white">{{drink.difficulty|upper()}}</span></h6>
                </div>
                <div class="col s12">
                    <h6>Favorite Lists <span class="info-label white">{{drink.favorites}}</span></h6>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="page-container drink-wrapper grey lighten-4">
    <!--Favorites | Quote-->
    <div class="row section-padding">
        <!--Favorites-->
        <section id="favorites-box" class="col s12 l6">
            <h4>Favorites</h4>
            <div class="favorites-content center">
                <!--Add as favorite-->
                 {% if not session['username'] %}
                <p class="fave-msg-border">You must be logged in to add as a favorite</p>
                {% elif session['username'] == drink.userName %}
                <p class="fave-msg-border">You cannot add your own drinks to your favorites</p>
                {% else %}
                    {% if is_favorite %}
                    <div>
                        {{drink.name}} is in your favorites list!
                    </div>
                    <div>
                        <i class="fas fa-heart red-text text-darken-1"></i>
                    </div>
                    <div>
                        <a href="{{ url_for('toggle_favorite', drink_id = drink._id, is_favorite=is_favorite) }}" class="btn btn--black">Remove Favorite</a>
                    </div>
                    {% else %}
                    <div>
                        {{drink.name}} is not in your favorites list!
                    </div>
                    <div>
                        <i class="fas fa-heart-broken red-text text-darken-4"></i>
                    </div>
                    <div>
                        <a href="{{ url_for('toggle_favorite', drink_id = drink._id, is_favorite=is_favorite) }}" class="btn btn--black">Add Favorite</a>
                    </div>
                    {% endif %}
                {% endif %}
                
                <!--Displays num favorites-->
                {% if drink.favorites < 1 %}
                <h5>Not yet favorited by any users</h5>
                {% else %}
                    <h5>Favorited By These Users</h5>
                    {% for x in drink.favoritesTxt %}
                    <div class="fave-label">{{x}}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        
        <!--Quote-->
        <article id="quote-box" class="col s12 l6 center qz-depth-3">
            <img src="{{ url_for('static', filename='images/swirls/swirl.png') }}" alt="" class="swirl">
            <p class="quote-text">{{quote_text}}</p>
            <p class="quote-name right-align">- {{quote_name}}</p>
            <img src="{{ url_for('static', filename='images/swirls/swirl.png') }}" alt="" class="swirl swirl-bottom">
        </article>
    </div>
</section>

<section class="page-container drink-wrapper">
    <!--Comments-->
    <div class="row section-padding">
        <div class="col s12">
            <h4>Comments</h4>
            <p>Tell us what you think!</p>
            <div class="comment-box z-depth-2">
                {% if comment_user | length > 0 %}
                {% for x in range(0, comment_user | length) %}
                    <p class="comment-user">{{comment_user[x]}}</p>
                    <p class="comment-text">{{comment_text[x]}}</p>
                {% endfor %}
                {% else %}
                <h6>There are no comments for this drink yet.</h6>
                <h6>Why don't you be the first?</h6>
                {% endif %}
            </div>
            <h5>Leave a comment</h5>
            <div class="row">
                <form action="{{ url_for('drink', drink_id = drink._id) }}" method="POST" class="col s12">
                    {% if session['username'] %}
                    </span><input placeholder="Type your comment here" id="comment" name="comment" type="text">
                    <button class="btn right btn--black" type="submit">Send</button>
                    {% else %}
                    </span><input disabled placeholder="You must be logged in to leave a comment" id="comment" name="comment" type="text">
                    <button disabled class="btn right btn--black" type="submit">Send</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

<section class="page-container drink-wrapper">
    <!--Edit | Delete Drink-->
    <div class="row center section-padding">
        {% if session['username'] == drink.userName %}
        <a href="{{ url_for('edit_drink', drink_id = drink._id) }}" class="btn btn--black">EDIT DRINK</a>
        {% include 'helpers/delete_modal.html' %}
        {% else %}
        <a class="grey darken-2 grey-text text-lighten-2 btn btn--black tooltipped" data-position="bottom" data-tooltip="You can only edit your own drinks">EDIT</a>
        <a class="grey darken-2 grey-text text-lighten-2 btn btn--black tooltipped" data-position="bottom" data-tooltip="You can only delete your own drinks">DELETE DRINK</a>
        {% endif %}
    </div>
</section>
{% endblock %}
