{% extends 'base.html' %} {% block content %}

<section class="page-container content-wrapper">
    <div class="row center">
        <h1>Edit Drink</h1>
        <h6>Drink originally added by {{drink.userName}} on {{date}}</h6>
    </div>

    <div class="row">
        <form method="POST" action="{{ url_for('edit_drink', drink_id = drink._id) }}" class="col s12">
            <!--Drink Form Template-->
            {% include 'helpers/drink_form.html' %}
            
            <!--Submit & Cancel Buttons-->
            <div class="center">
                <button class="btn btn--black" type="submit">Submit Changes</button>
                <a class="btn btn--white cancel-form">Cancel</a>
            </div>
            <br>
            <hr class="hr-delete">
            <div class="center">
                {% include 'helpers/delete_modal.html' %}
            </div>
        </form>
    </div>
</section>

{% endblock %}
