{% extends 'base.html' %} {% block content %}

<div class="container">

    <div class="row center">
        <h4>EDIT DRINK</h4>
        <h5>Drink originally added by {{drink.userName}} on {{date}}</h5>
    </div>

    <div class="row">
        <form method="POST" action="{{ url_for('edit_drink', drink_id = drink._id) }}" class="col s12">
            <div class="center">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Submit Changes</button>
            </div>
            <hr> {% include 'helpers/drink_details_form.html' %}

            <!--Ingredients-->
            <div class="row">
                <div class="center">
                    <h5>Ingredients</h5>
                </div>

                <div class="col s12 center" id="ingredients-container">
                    {% for i in range(drink.ingredients | length) %} {% if loop.index % 2 != 0 %}
                    <div class="col s4 l2 measure_field">
                        <div class="input-field">
                            <input id="measure_{{class_num[i]}}" name="measure_{{class_num[i]}}" type="text" class="validate" required value="{{drink.ingredients[i]}}">
                            <label for="measure_{{class_num[i]}}">Measure {{class_name[i]}}</label>
                        </div>
                    </div>
                    {% else %}
                    <div class="col s8 l4 ingredient_field">
                        <div class="input-field">
                            <input id="ingredient_{{class_num[i]}}" name="ingredient_{{class_num[i]}}" type="text" class="validate" required value="{{drink.ingredients[i]}}">
                            <label for="ingredient_{{class_num[i]}}">Ingredient {{class_name[i]}}</label>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>

                <!--Add / Remove Ingredient Buttons-->
                <div class="row">
                    <div class="col s12 center">
                        <a id="add_ingredient" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Add An Ingredient</a>
                        <a id="remove_ingredient" class="waves-effect waves-light btn"><i class="material-icons right">remove_circle_outline</i>Remove Ingredient</a>
                    </div>
                </div>
            </div>

            <hr>
            <!--Submit & Cancel Buttons-->
            <div class="center">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Submit Changes</button>
                <a class="waves-effect waves-light btn history-back"><i class="material-icons right">cancel</i>Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
