{% extends 'base.html' %} {% block content %}

<div class="container content-wrapper">

    <div class="row center">
        <h3>{{glass_type.glassType.title()}}</h3>
    </div>
    
    <!--Sort Options-->
    <div class="row">
        <form method="POST" action="{{ url_for('glass_type', glass_type_name = glass_type.glassType)}}">
            {% include 'helpers/sort_options.html' %}
        </form>
    </div>

    <!--Summary-->
    <div class="row center">
    {% if drinks.count() == 0 %}
        <h6>No drinks to show.</h6>
    </div>
    {% else %}
        <h6>Showing {{first_result_num}} - {{last_result_num}} of {{drinks.count()}} results</h6>
    </div>

    <!--Drinks-->
    <div class="row">
        {% for drink in drinks %}
        <div class="col s6 l4 xl3">
        {% include 'helpers/drink_card.html' %}
        </div>
        {% endfor %}
    </div>
    
    
    <!--Pagination-->
    <ul class="pagination center">
        <!--Left Arrow-->
        {% if current_page | int > 1 %}
        <li class=""><a href="{{ url_for('glass_type', glass_type_name = glass_type.glassType, current_page=current_page-1) }}"><i class="material-icons">arrow_left</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">arrow_left</i></li>
        {% endif %}

        <!--Page Numbers-->
        {% for page_number in pages %} {% if page_number == current_page %}
        <li class="active"><a>{{ page_number }}</a></li>
        {% else %}
        <li class="waves-effect"><a href="{{ url_for('glass_type', glass_type_name = glass_type.glassType, current_page=page_number) }}">{{ page_number }}</a></li>
        {% endif %} {% endfor %}

        <!--Right Arrow-->
        {% if current_page | int
        < pages | count | int %} <li class=""><a href="{{ url_for('glass_type', glass_type_name = glass_type.glassType, current_page=current_page+1) }}"><i class="material-icons">arrow_right</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">arrow_right</i></li>
        {% endif %}

    </ul>
    {% endif %}
    
    
    

<hr>
<div class="row center">
    <a href="{{url_for('index')}}#glass-tab" class="waves-effect waves-light btn-small history-back">back</a>
</div>

</div>

{% endblock %}
