{% extends 'base.html' %} {% block content %}

<!--Intro Box-->
<div class="page-container intro-wrapper">
    <img src="{{ url_for('static', filename='images/background/main_top.jpg') }}">
    <div class="intro">
        <div>
            <h5 class="f-playfair"><span class="intro-number">{{drinks.count()}} </span> drinks and counting!</h5>
            <hr class="hide-on-small-only">
            <h5 class="hide-on-small-only" style="font-family: 'Grand Hotel'; font-style: italic; font-size: 40px">Cheers! The drinks db</h5>
            <div class="row">
                {% if 'username' in session %}
                <div class="col s12 m6">
                    <a href="{{ url_for('search') }}" class="btn btn--green">Search</a>
                </div>
                <div class="col m6 hide-on-small-only">
                    <a href="{{ url_for('add_drink') }}" class="btn btn--blue">Add Drink</a>
                </div>
                {% else %}
                <div class="col s12 m6 l6">
                    <a href="{{ url_for('login') }}" class="btn btn--green">Log In</a>
                </div>
                <div class="col m6 hide-on-small-only">
                    <a href="{{ url_for('register') }}" class="btn btn--blue">Register</a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<div class="page-container content-wrapper">
    <div class="spacer-2r"></div>

    <div class="index-top">
        <div class="row">
            <div class="col s12 l3 offset-l3 center">
                <h6>Browse by category, glass type, or difficulty.</h6>
                <div class="div-bottom">
                    <a id="tabs-title-btn" class="btn btn--black">Browse</a>
                </div>
            </div>
            <div class="col s12 l3 center">
                <h6>Sort the display order.</h6>
                <div class="div-bottom">
                    <a id="sort-options-btn" class="btn btn--black">Sort</a>
                </div>
            </div>
        </div>

    </div>

    <!--View By-->
    {% include 'helpers/view_by.html' %}

    <!--Sort Options-->
    <div id="sort-options" class="row hidden">
        <form method="POST" action="{{ url_for('index')}}">
            {% include 'helpers/sort_options.html' %}
        </form>
    </div>

    <!--Summary-->
    <div class="col s12 display-summary">
        <div class="row center">
            <h5>Showing {{first_result_num}} - {{last_result_num}} of {{drinks.count()}} results</h5>
        </div>

        <hr class="hr-results">

        <!--Pagination Top-->
        <ul class="pagination .pagination-lg center pagination-top">
            <!--Left Arrow-->
            {% if current_page | int > 1 %}
            <li class=""><a href="{{ url_for('index', current_page=current_page-1) }}"><i class="fas fa-angle-left"></i></a></li>
            {% else %}
            <li class="disabled"><i class="fas fa-angle-left"></i></li>
            {% endif %}

            <!--Page Numbers-->
            {% for page_number in pages %} {% if page_number == current_page %}
            <li class="active"><a>{{ page_number }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('index', current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %} {% endfor %}

            <!--Right Arrow-->
            {% if current_page | int
            < pages | count | int %} <li class=""><a href="{{ url_for('index', current_page=current_page+1) }}"><i class="fas fa-angle-right"></i></a></li>
                {% else %}
                <li class="disabled"><i class="fas fa-angle-right"></i></li>
                {% endif %}

        </ul>
    </div>
    <br>


    <!--Drinks Grid-->
    <div class="row">
        {% for drink in drinks %}
        <div class="col s6 l4 xl3">
            {% include 'helpers/drink_card.html' %}
        </div>
        {% endfor %}
    </div>


    <!--Pagination Bottom-->
    <ul class="pagination center">
        <!--Left Arrow-->
        {% if current_page | int > 1 %}
        <li class=""><a href="{{ url_for('index', current_page=current_page-1) }}"><i class="fas fa-angle-left"></i></a></li>
        {% else %}
        <li class="disabled"><i class="fas fa-angle-left"></i></li>
        {% endif %}

        <!--Page Numbers-->
        {% for page_number in pages %} {% if page_number == current_page %}
        <li class="active"><a>{{ page_number }}</a></li>
        {% else %}
        <li class="waves-effect"><a href="{{ url_for('index', current_page=page_number) }}">{{ page_number }}</a></li>
        {% endif %} {% endfor %}

        <!--Right Arrow-->
        {% if current_page | int
        < pages | count | int %} <li class=""><a href="{{ url_for('index', current_page=current_page+1) }}"><i class="fas fa-angle-right"></i></a></li>
            {% else %}
            <li class="disabled"><i class="fas fa-angle-right"></i></li>
            {% endif %}
    </ul>

    <!--Suggestions-->
    {% if session['username'] %}
    <h5>You may also like...</h5>

    <div class="row">
        {% for drink in suggestions %}
        <div class="col s6 xl3">
            {% include 'helpers/drink_card.html' %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}
