{% extends 'base.html' %} {% block content %}

<!--Intro Box-->
<section class="page-container intro-wrapper">
    <img src="{{ url_for('static', filename='images/background/main_top.jpg') }}" alt="Row Of Drinks">
    <div class="intro hide-on-small-only">
        <div>
            <h5><span class="intro-number">{{drinks.count()}} </span> drinks and counting!</h5>
            <hr>
            <h5 class="intro-subheading">Cheers! The drinks db</h5>
        </div>
    </div>
</section>
<section class="page-container help-message">
    <h6>UPDATE: November 2020</h6>
    <p class="">This little project was first deployed in August 2020 and even though it hasn't been updated since, Heroku keeps showing it as in use so I figure it's still useful for some people.</p>
    <p>Have a mess with things, create a user (passwords are insecure so don't use a real one!), add drinks, leave comments, just have a play around with it, and if you have any questions, you are more than welcome to get in touch. You can find my contact details <a href="https://davelaffan.dev/" target="_blank">here</a>, and the source code <a href="https://github.com/steview-d/drinks-db" target="_blank">here</a>.</p>
    <p></p>
</section>

<section class="page-container content-wrapper">

    <!--Browse / View By-->
    <article class="row browse-by">
        <div class="col s12 center">
            <h6>Browse by category, glass type, or difficulty.</h6>
            <a id="tabs-title-btn" class="btn btn--black">Browse</a>
        </div>
        {% include 'helpers/view_by.html' %}
    </article>

    <!--Sort Options-->
    <section class="row">
        <div class="col s12 center">
            <h6>Sort the display order.</h6>
            <a id="sort-options-btn" class="btn btn--black">Sort Options</a>
        </div>
        <div id="sort-options" class="row hidden">
            <form method="POST" action="{{ url_for('index')}}">
                {% include 'helpers/sort_options.html' %}
            </form>
        </div>
    </section>

    <!--Summary-->
    <div class="col s12 display-summary">
        <div class="row center">
            <h5>Showing {{first_result_num}} - {{last_result_num}} of {{drinks.count()}} results</h5>
        </div>
        <hr class="hr-results">

        <!--Pagination Top-->
        {% include 'helpers/pagination_index.html' %}
    </div>
    <br>

    <!--Drinks Grid-->
    <section class="row">
        {% for drink in drinks %}
        <div class="col s6 l4 xl3">
            {% include 'helpers/drink_card.html' %}
        </div>
        {% endfor %}
    </section>

    <!--Pagination Bottom-->
    {% include 'helpers/pagination_index.html' %}

    <!--Suggestions-->
    <article>
        {% if suggestions %}
        <h5>You may also like...</h5>
        <div class="row">
            {% for drink in suggestions %}
            <div class="col s6 xl3">
                {% include 'helpers/drink_card.html' %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </article>
</section>

{% endblock %}