{% extends 'base.html' %} {% block content %}

<div class="container">

    <!--Quotes-->
    <h4>{{quoteText}}</h4>
    <h6>{{quoteName}}</h6>
    <br>

    <!--Categories-->
    <div class="row">
        {% for category in categories %}
        <div class="col s4 m3 xl2 border-outline">
            <p class="center">{{category.category.title()}}</p>
            <a href="{{ url_for('category', category_name = category.category) }}">Click To View</a>
        </div>
        {% endfor %}
    </div>
    <br>

    <!--Drinks-->

    <!--Summary-->
    <div class="row center">
        <h6>Showing {{first_result_num}} - {{last_result_num}} of {{drinks.count()}} results</h6>
    </div>

    <!--Configure Drinks Display-->
    <form method="POST" action="{{ url_for('index')}}">
        <span>
            <label>
                <input name="num_drinks_display" type="radio" id="num_drinks_6" value="6" checked />
                <span>6&emsp;&emsp;</span>
            </label for="num_drinks_6">
        </span>
        <span>
            <label>
                <input name="num_drinks_display" type="radio" id="num_drinks_9" value="9"/>
                <span>9&emsp;&emsp;</span>
            </label for="num_drinks_9">
        </span>
        <span>
            <label>
                <input name="num_drinks_display" type="radio" id="num_drinks_12" value="12"/>
                <span>12&emsp;&emsp;</span>
            </label for="num_drinks_12">
        </span>
        <span>
            <label>
                <input name="num_drinks_display" type="radio" id="num_drinks_0" value="0"/>
                <span>All</span>
            </label for="num_drinks_0">
        </span>
        <button class="btn waves-effect waves-light" type="submit">Send<i class="material-icons right">send</i></button>
    </form>


    <!--Drinks Grid-->
    <div class="row">
        {% for drink in drinks %}
        <div class="col s4 border-outline">
            <p class="center">{{drink.name}}</p>
            <a href="{{ url_for('drink', drink_id = drink._id) }}">Click To View</a>
        </div>
        {% endfor %}
    </div>


    <!--Pagination-->
    <ul class="pagination center">
        <!--Left Arrow-->
        {% if current_page | int > 1 %}
        <li class=""><a href="{{ url_for('index', current_page=current_page-1) }}"><i class="material-icons">arrow_left</i></a></li>
        {% else %}
        <li class="disabled"><i class="material-icons">arrow_left</i></li>
        {% endif %}

        <!--Page Numbers-->
        {% for page_number in pages %} {% if page_number == current_page %}
        <li class="active"><a>{{ page_number }}</a></li>
        {% else %}
        <li class="waves-effect"><a href="{{ url_for('index', current_page=page_number) }}">{{ page_number }}</a></li>
        {% endif %} {% endfor %}

        <!--Right Arrow-->
        {% if current_page | int
        < pages | count | int %} <li class=""><a href="{{ url_for('index', current_page=current_page+1) }}"><i class="material-icons">arrow_right</i></a></li>
            {% else %}
            <li class="disabled"><i class="material-icons">arrow_right</i></li>
            {% endif %}

    </ul>

    <!--Suggestions-->
    {% if session['username'] %}
    <h5>You may also like...</h5>

    <div class="row">
        {% for drink in suggestions %}
        <div class="col s3 border-outline">
            <p class="center">{{drink.name}}</p>
            <a href="{{ url_for('drink', drink_id = drink._id) }}">Click To View</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}
