<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cheers!</title>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!--CSS-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />-->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>

<body class="landing">
    <div class="v-center-wrapper">
        <div class="v-center-content">
            <div class="landing-box">
                <h3 class="neon neon-pinkS">
                    Fancy A Drink?
                </h3>
            </div>

        </div>
    </div>
</body>

</html>





<div class="intro">
    <h5 class="f-playfair"><span class="intro-number">{{drinks.count()}} </span> drinks and counting!</h5>
    <p>Find new drinks, share your own, leave comments, or a make a list of your favorites.</p>
    <h3>Cheers! The drinks db</h3>
</div>
