<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/landing.css" type="text/css" />
</head>

<body>
<article class="glass down">
  <h1>Pelican</h1>
  <p>additional content...</p>
</article>
</body>




<!--USE ADOBE STOCK IMAGE, FULL SCREEN WITH BLUR ACROSS MIDDLE-->
<!--SAYING IN LARGE CAPS NEON TEXT - 'FANCY A DRINK?' - OR SIMILAR-->
<!--THEN UNDERNEATH A LINK THAT SAYS 'COME ON IN' - OR SIMILAR-->




<!--OLD VERSION-->
<!--<body>-->
<!--    <div class="blur_widget blur_center">-->

<!--        <div class="blur"></div>-->

<!--        <div class="text blur_center">-->
<!--            <h1 class="">Live CSS Blur</h1>-->
<!--            <p>Go ahead, resize me.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->


</html>
