{% extends 'base.html' %} {% block content %}
<section class="v-center-wrapper">
    <div class="page-container v-center-content log-reg-wrapper">
        <h3 class="center">Create an account.</h3>
        <h3 class="center">It's quick, simple, and free!</h3>
        <p class="center">Usernames & Passwords are case-sensitive.</p>
        <div class="row">
            <div class="col offset-s1 s10 offset-m2 m8 offset-l3 l6 center">
                <form method="POST" action="{{ url_for('register') }}" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" class="validate" autocomplete="username" required pattern=".{3,12}">
                            <label for="username">Username
                                <i class="fas fa-info-circle fa-sm tooltipped" data-position="right" data-tooltip="Username should be between 3 and 12 characters in length"></i>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate" autocomplete="new-password" required pattern=".{5,15}">
                            <label for="password">Password
                                <i class="fas fa-info-circle fa-sm tooltipped" data-position="right" data-tooltip="Password should be between 5 and 15 characters in length"></i>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn--black" type="submit">CREATE ACCOUNT</button>
                </form>
            </div>
        </div>
        <p class="center">Already have an account? Log in <span class="info-label"><a href="{{ url_for('login') }}">here</a></span></p>
    </div>
</section>
{% endblock %}

