{% extends 'base.html' %} {% block content %}

<div class="container">

    <div class="row center">
        <h4>Search</h4>
        <hr>
    </div>


    <div class="row">
        <form action="{{ url_for('search') }}" class="col s12">
            <span><i class="fas fa-search"></i></span><input placeholder="Search...." id="find" name="find" type="text">

            <div class="row">
                <div class="input-field col s4">
                    <select id="category_filter" name="category_filter">
                        <option value="" disabled selected>Filter By Category</option>
                        <option value=""></option>
                        {% for item in all_categories %} {% if item == all_categories %}
                        <option value="{{ item.category }}" selected>{{ item.category.title() }}</option>
                        {% else %}
                        <option value="{{ item.category }}">{{ item.category.title() }}</option>
                        {% endif %} {% endfor %}
                    </select>
                    <label for="category_filter">Drink Category</label>
                </div>
                <div class="input-field col s4">
                    <select id="glassType_filter" name="glassType_filter">
                        <option value="" disabled selected>Filter By Glass Type</option>
                        <option value=""></option>
                        {% for item in all_glass_types %} {% if item == all_glass_types %}
                        <option value="{{ item.glassType }}" selected>{{ item.glassType.title() }}</option>
                        {% else %}
                        <option value="{{ item.glassType }}">{{ item.glassType.title() }}</option>
                        {% endif %} {% endfor %}
                    </select>
                    <label for="glassType_filter">Glass Type</label>
                </div>
                <div class="input-field col s4">
                    <select id="difficulty_filter" name="difficulty_filter">
                        <option value="" disabled selected>Filter By Difficulty</option>
                        <option value=""></option>
                        {% for item in all_difficulties %} {% if item == all_difficulties %}
                        <option value="{{ item.difficulty }}" selected>{{ item.difficulty.title() }}</option>
                        {% else %}
                        <option value="{{ item.difficulty }}">{{ item.difficulty.title() }}</option>
                        {% endif %} {% endfor %}
                    </select>
                    <label for="difficulty_filter">Difficulty</label>
                </div>
            </div>

            <div class="center">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Send</button>
                <a class="waves-effect waves-light btn" href="{{ url_for('search') }}"><i class="material-icons right">cancel</i>reset</a>

            </div>
        </form>
    </div>
    <hr>



    <!--No results from search-->
    {% if num_results == 0 %}
    <h5 class="center">No drinks found for '{{find}}'. Please try another search.</h5>
    {% endif %} {% if results %}
    <!--Display Results-->

    <div class="row center">
        <h5>Search Results</h5>
        <h6>Showing {{first_result_num}} - {{last_result_num}} of {{results.count()}} results</h6>
    </div>
    <div class="row">
        {% for drink in results %}
        <div class="col s4 border-outline center">
            <p class="center">{{drink.name}} | {{drink.views}}</p>
            <p class="center">{{drink.score}}</p>
            <!--To remove - testing only-->
            <p class="center">Search Relevance: {{ (drink.score / max_weight * 100) | round | int}}%</p>
            <a href="{{ url_for('drink', drink_id = drink._id) }}">Click To View</a>
        </div>
        {% endfor %}
    </div>

    <!--Pagination-->
    <ul class="pagination center">
        <li class="disabled"><i class="material-icons">chevron_left</i></li>
        {% for page_number in pages %} {% if page_number == current_page %}
        <li class="active"><a>{{ page_number }}</a></li>
        {% else %}
        <li class="waves-effect"><a href="{{ url_for('search', current_page=page_number, find=find) }}">{{ page_number }}</a></li>
        {% endif %} {% endfor %}
        <li class="disabled"><i class="material-icons">chevron_right</i></li>
    </ul>


    {% endif %}



</div>

{% endblock %}
